.page {
  padding: 180px 120px 265px 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  align-self: stretch;

  .header {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    width: 100%;
    gap: 94px;

    .titleContainer {
      flex: 1;
      .title {
        color: var(--Black-Shades-Black-1, #0f0f0f);
        font-size: clamp(32px, 4vw, 40px);
        font-weight: 500;
        letter-spacing: -2.72px;
        margin: 0;
      }
    }

    .infoSection {
      flex: 3;
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      color: var(--White-Shades-White-5, #828587);

      font-size: clamp(12px, 1.5vw, 14px);
      line-height: 1.2;

      .infoTitle {
        color: var(--Black-Shades-Black-3, #333);
        font-size: clamp(24px, 3vw, 34px);
        font-weight: 500;
        max-width: 600px;
        margin: 0;
      }

      .info {
        font-weight: 500;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        p {
          color: #828587;
        }
      }
    }
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 94px;
    width: 100%;
    align-self: stretch;
    min-height: 100vh;

    .tableOfContents {
      scrollbar-gutter: stable;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2px;
      width: 100% !important;
      flex: 1;
      position: sticky;
      top: 20px;
      max-height: calc(100vh - 50px);
      overflow-y: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;

      .list {
        display: block;
        width: 100%;
        max-width: 240px;

        .headingItem {
          display: block;
          text-decoration: none;
          color: var(--Black-Shades-Black-4, #828587);
          font-size: clamp(12px, 2vw, 16px);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 6px;
          max-width: 100%;
          cursor: pointer;
        }
        .headingItem.active {
          color: var(--Black-Shades-Black-1, #0f0f0f);
          font-weight: 500;
        }
      }
    }
    .tableOfContents::-webkit-scrollbar {
      display: none;
    }
    .dropdown {
      display: none;
    }

    .content {
      flex: 3;
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 12px;
      color: var(--greysbmainwsub-400, #666);

      font-size: clamp(16px, 2vw, 16px);
      line-height: 1.2;

      h1,
      h3,
      h4,
      h2 {
        color: var(--Black-Shades-Black-1, #0f0f0f);
        margin: 0;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: -0.22px;
      }

      a {
        color: var(--Black-Shades-Black-5, #0f0f0f);
      }
      p {
        color: #666;
        strong {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px;
          color: #0f0f0f;
        }
      }
      li {
        color: #666;
      }
    }
  }
}

@media (max-width: 1400px) {
  // xxl
  .page {
    padding: 160px 100px 265px 100px;

    .main {
      .tableOfContents {
        .list {
          max-width: 200px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  // xl
  .page {
    padding: 140px 80px 265px 80px;
    .main {
      gap: 80px;

      .tableOfContents {
        .list {
          max-width: 175px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  // lg
  .page {
    padding: 185px 60px 265px 60px;
    gap: 32px;
    .header {
      flex-direction: column;
      align-items: center;
      gap: 24px;
      .titleContainer {
        width: 100%;
        .title {
          text-align: center;
          font-size: clamp(58px, 4vw, 68px);
        }
      }
      .infoSection {
        flex: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        color: var(--White-Shades-White-5, #828587);

        font-size: clamp(12px, 1.5vw, 14px);
        line-height: 1.2;

        .infoTitle {
          font-size: clamp(26px, 3vw, 34px);
          text-align: center;
          color: var(--Black-Shades-Black-5, #666);
          max-width: 500px !important;
        }

        .info {
          flex-direction: column;
          gap: 32px;
          color: var(--White-Shades-White-3, #b6b8b9);
          text-align: center;
        }
        .info p:nth-child(2) {
          display: none;
        }
      }
    }
    .main {
      gap: 32px;
      .tableOfContents {
        display: none;
      }
      .dropdown {
        display: flex;
        height: 48px;
        color: #000;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        align-self: stretch;
        border-radius: 12.75px;
        background: rgba(244, 244, 244, 0.8);
        position: sticky;
        top: 20px;
        height: fit-content;
        color: var(--GREYS-APP-BG-900, var(--GREYS-APP-BG-900, #000));
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: -0.24px;
      }
    }
  }

  .main {
    flex-direction: column;
    gap: 60px;
  }
}

@media (max-width: 768px) {
  // md
  .page {
    padding: 185px 40px 265px 40px;

    .header {
      flex-direction: column;
      gap: 32px;
      .infoSection {
        .info {
          p {
            color: #b6b8b9;
          }
        }
      }
    }
  }

  .main {
    flex-direction: column;
    gap: 40px;
  }
}

@media (max-width: 576px) {
  // sm & xs
  .page {
    padding: 185px 20px 60px 20px;
  }

  .title {
    font-size: 28px;
  }

  .main {
    gap: 24px;
  }
}
